= partial 'layouts/navigation', :locals => { :channels => @channels }

- content_for :main do
  .thumbs
    - @blocks.each do |block|
      .thumb{ :class => render_full_or_thumb_class(@blocks, block) }
        / Permalink
        - unless block_is_text?(block)
          = link_to url_for(:blocks, :show, :id => slug_encode(block['id'].to_s)), :class => 'area' do
            / Clickable area
        - else
          = link_to '#', url_for(:blocks, :show, :id => slug_encode(block['id'].to_s)), :class => 'permalink'

        / Render representation
        = partial "representations/#{render_full_or_thumb_path(@blocks.size)}/#{block['block_type'].downcase}", :locals => { "#{block['block_type'].downcase}".to_sym => block }