= partial 'layouts/navigation'

- content_for :main do
  %h1= @post.title
  .posts
    - @post.contents.each do |post|
      .post-container
        .post{:class=>post._class}
          - if is_channel?(post)
            %h2= link_to post.title, post.slug

          - else
            - if post.title
              %h2= post.title
            - if post.has_embed?
              = post.embed.html
            - elsif post.has_image?
              .post-image
                = link_to post.image.original.url, target: '_blank' do
                  = image_tag post.image.display.url
            - else
              = post.content_html
          - if post.connections.length > 0 
            .connections-preview-content
              .header
                Also used in
                .other-channels
                  - post.connections.each do |connection|
                    %li
                      %a{:href=>"http://are.na/#{connection.slug}", :target=>"_blank"}= connection.title


    .metadata
      .connected
        Posted by #{@post.user.username}<br>
        Contributions by #{contributors_list}
        %br
        #{time_ago_in_words(post_date)} ago

    .next-post-link= next_post_link

    .arena-info-container
      .arena-info
        Arena is a collaborative tool for assembling information.<br>
        As information is created, organized, and reused, it fluidly integrates into multiple contexts that lead to the creation of actionable knowledge.
        .visitLink
          %a{:href=>"http://are.na"} Visit Arena