%html
  %head
    = stylesheet_link_tag "application"
    %title Arena Blog
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
    = javascript_include_tag "//use.typekit.net/bmy7ezc.js"
    = javascript_include_tag "/javascripts/application.js"
    :javascript
      try{Typekit.load();}catch(e){}
    %link{:rel=>"alternate", :type=>"application/rss+xml", :title=>"Arena Blog", :href=>"/rss/"}
  %body
    #container
      %nav#navigation
        = yield_content :navigation
      
      %section#main
        .logo 
          %a{:href=>"/"}
            %img{:src=>"/assets/mark.png"}
        .middle
          = yield_content :main